:root {
    --bg-color: #081b29;
    --main-color: #08b3f7;
}


/* home section */

.home {
    
    background-size: cover;
    background-position: center;


}

.btn {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    height: 100%;
    font-weight: 600;
    letter-spacing: .1rem;
    z-index: 1;
    transition: .5s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
    border-radius: .8rem;
    overflow: hidden;
}

.btn:hover::before {
    width: 100%;
}

.social a {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 50%;

}

.social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
    border-radius: 50%;
    overflow: hidden;

}

.social a:hover::before {
    width: 100%;
}


/* animation */

.text-animation {
    position: relative;
    display: inline;
    width:10rem;
    
}

.text-animation h2 {
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.text-animation h2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;

}

/* keyframes animation */
@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
       width:0;
    }

    65%,
    78%,
    85% {
        width:100%;
        opacity:1;
    }

    75%,
    81%{
        opacity:0;
    }
}



/* about section */
#about img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    background-size: cover;
    background-position: center;

}

#about .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border-top: .2rem solid black;
    border-bottom: .2rem solid black;
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);

    animation: aboutSpinner 8s linear infinite;


}

@keyframes aboutSpinner {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* about section */


/* skill section */
.bar {
    height: 1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--main-color);
    padding: 0.1rem;
}

.bar span {
    display: block;
    height: 100%;
    border-radius: .2rem;
    background: var(--main-color);
}

.footer a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;

}

.alpha {
    border-radius: .6rem;
}

.footer a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;

}

.footer a:hover::before {
    width: 100%;
}

img{
    object-fit: cover;
    object-position: center;
}